<div class="flex justify-spcacebetween">
  <h1>Email List</h1>
  <div>
    <a href="/users/add"><button class="btn btn-primary">Add</button></a>
  </div>
</div>

<div>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Email</th>
        <th>Title</th>
        <th>Status</th>
        <th>Description</th>
        <th>Time</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% emails.forEach(({id, email, title, description, status, created_at:
      createdAt}, index) => { %>
      <tr>
        <td><%= email %></td>
        <td><%= title %></td>
        <td><%= status ? 'Seen': 'Unseen' %></td>
        <td><%= description %></td>
        <td><%= createdAt %></td>
        <td><button class="btn btn-primary">View</button></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
