<h1>Sửa người dùng</h1>

<form action="" method="post" class="mb-3">
  <!-- name -->
  <div class="mb-3">
    <label for="name">Tên</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Nhập tên..."
      value="<%= user.name %>"
    />
  </div>

  <!-- email -->
  <div class="mb-3">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Nhập email..."
      value="<%= user.email %>"
    />
  </div>

  <!-- mật khẩu -->
  <div class="mb-3">
    <label for="email">Mật khẩu</label>
    <input
      type="password"
      name="password"
      class="form-control"
      placeholder="Nhập mật khẩu..."
      value="<%= user.password %>"
    />
  </div>
  
  <!-- trạng thái -->
  <div class="mb-3">
    <label for="">Trạng thái</label>
    <select name="status" class="form-select">
        <option value="0" <%= !user.status ? 'selected': '' %>>Chưa kích hoạt</option>
      <option value="1" <%= user.status ? 'selected': '' %>>Kích hoạt</option>
    </select>
  </div>

  <!-- khóa học -->
  <div class="mb-3">
    <label for="">Khóa học</label>
    <% courses.forEach(course => { %>
    <div class="flex flex-3">
      <label class="mb-3 d-block">
        <input type="checkbox" name="courses" value="<%= course.id %>" <%= courseUtils.isCourse(user, course.id) ? 'checked': '' %>/> <%=
        course.name %>
      </label>
    </div>
    <% }) %>
  </div>

  <button class="btn btn-primary">Lưu</button>
</form>
