<h1>Danh sách users</h1>
<!-- thêm mới người dùng -->
<a href="/users/add" class="btn btn-primary my-2">Thêm mới</a>
<!-- form -->
<form action="" class="mb-3">
  <div class="row">
    <div class="col-3">
      <select name="status" class="form-select">
        <option value="all">Tất cả</option>
        <option value="active" <%= req.query.status === 'active' ? 'selected': '' %>>Kích hoạt</option>
        <option value="inactive" <%= req.query.status === 'inactive' ? 'selected': '' %>>Chưa kích hoạt</option>
      </select>
    </div>
    <div class="col-3">
      <select name="group" class="form-select">
        <option value="">Tất cả nhóm</option>
        <% groups.forEach(group => { %>
        <option value="<%= group.id %>" <%= +req.query.group === +group.id ? 'selected': '' %> ><%= group.name %></option>
        <% }) %>
      </select>
    </div>
    <div class="col-4 flex">
      <input
        type="search"
        name="keyword"
        placeholder="Từ khóa ..."
        class="form-control"
        value="<%= req.query.keyword %>"
      />
    </div>
    <div class="col-2 d-grid">
      <button class="btn btn-primary">Search</button>
    </div>
  </div>
</form>

<!-- bảng danh sách -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Email</th>
      <th>Điện thoại</th>
      <th>Nhóm</th>
      <th>Trạng thái</th>
      <th>Thời gian</th>
      <th width="5%">Sửa</th>
      <th width="5%">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach((user, index) => { %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phones?.phone %></td>
      <td><%= user.group?.name %></td>
      <td><%= user.status ? 'Kích hoạt': 'Chưa kích hoạt' %></td>
      <td><%= moment(user.created_at).format('DD/MM/YYYY HH:mm:ss') %></td>
      <td>
        <a href="/users/edit/<%= user.id %>" class="btn btn-warning">Sửa</a>
      </td>
      <td>
        <form
          action="/users/delete/<%= user.id %>"
          onsubmit="return confirm('Bạn có chắc?')"
          method="post"
        >
          <button class="btn btn-danger">Xóa</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<ul class="pagination">
  <% if (page > 1) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= +page-1 %>">Trước</a>
  </li>
  <% } %> <% for( let index = 1; index <= totalPage; index++ ) { %>
  <li class="page-item <%= page == index ? 'active': '' %>">
    <a class="page-link" href="?page=<%= index %>"><%= index %></a>
  </li>
  <% } %> <% if (page < totalPage) { %>
  <li class="page-item">
    <a class="page-link" href="?page=<%= +page+1 %>">Sau</a>
  </li>
  <% } %>
</ul>
